OCR Engine/
PDF/
TAEkstraksiKamus/\[Full\] Bentuk JSON/
TAEkstraksiKamus/\[Full\] CSV JSON all information - Final/
TAEkstraksiKamus/\[Full\] Raw CSV JSON all information/
TAEkstraksiKamus/CSV One Entry JSON With Font + Posisi Approach/
TAEkstraksiKamus/CSV One Entry JSON With Font Approach/
TAEkstraksiKamus/Ekstraksi/
python314-env/